.dataTables_wrapper {
    padding-bottom: 70px!important;
}
.dataTables_wrapper .pagination a:focus {
    outline: none;
}
.dataTables_wrapper td button{
    text-transform: uppercase;
}
.zs-circle {
    width: 70%;
}
.dropdown.zs-dropdown {
    text-align: center;
}